extends layout

block content
  section#one
    #clock
  section#two
    h1#title BunnyBots 2016
    #timeline-wrapper
      .left.label Sep. 1
      #timeline
        #completed
      .right.label Dec. 30

    a.button(href="http://team1540.org/bunnybots/" target="_blank") Find Out More
