doctype html
html
  head
    block meta
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible' content='IE=edge, chrome=1')
      meta(name='description' content='')
      meta(name='author' content='calebeby')
      meta(name="viewport" content="width=device-width, initial-scale=1")

    block title
      title BunnyBots Countdown

    block stylesheets
      link(rel='stylesheet' href='css/master.css')
      // link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Josefin+Sans:100|Lato:700')

  body(role='document')
    main(role='main')
      block content

    block javascript
      script(src='js/main.js' defer)
