@import '_settings'
@require 'fonts.css'

font-size(small-size, large-size=small-size)
  wide-screen-width = 1000px

  font-difference = large-size - small-size

  wide-1vw = (wide-screen-width / 100)

  viewwidth = unit((font-difference / wide-1vw), 'vw')

  font-size: ( ( large-size + small-size ) / 2 )
  font-size: "calc(%s + %s)" % (viewwidth small-size)

*, *::before, *::after
  box-sizing: border-box

body
  font-size: 80px
  background: black
  color: white
  font-family: josefin-sans

#clock
  font-size: 25px 80px
  font-weight: 100

section
  padding: 50px
  height: 100vh
  position: relative

#title
  font-size: 25px 90px
  font-weight: 600
  margin: 0
  text-align: center

#timeline-wrapper
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

  .label
    font-size: 15px
    font-weight: bold
    letter-spacing: 0.5px
    position: absolute
    font-family: lato
    text-transform: uppercase
    top: 0
    line-height: 10px
    padding: 0 15px

    &.left
      left: 0
      transform: translateX(-100%)

    &.right
      right: 0
      transform: translateX(100%)

#timeline
  position: relative
  background-color: darken(bunnybots-blue, 10%)
  width: 500px
  height: 10px
  border-radius: 100px
  overflow: hidden
  max-width: calc(100vw - 190px)

  #completed
    background-color: bunnybots-orange
    absolute: top left
    height: @height
    width: 0
    transition: width 1s ease

a.button
  position: absolute
  bottom: 40px
  font-size: 18px
  font-family: lato
  color: white
  border: 1px solid @color
  padding: 10px
  border-radius: 5px
  left: 50%
  transform: translateX(-50%)
  text-decoration: none
  transition: all 0.3s ease

  &:hover
    background-color: @color
    color: bunnybots-blue
